@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet');

:root{
    --primary-colour:#1e40af;
    --off-white:#F3F4F6;
    --yellow:rgb(255, 217, 0);
    --brown:#4e260a;


}

body{
    font-family: 'Montserrat', 
    sans-serif;
    margin: 1rem;
}

hr{
    margin:2rem 0rem ;
}

.container {
 padding: 0rem 1rem;
}

.container-center{
    max-width: 700px;
    margin: auto;
   
 }
 /*link*/
 .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
 }
 .link-primary{
    background-color: var(--yellow);
    border-radius: 0.5rem;
    color: white;
    
 }
 .link-secondary{
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour) ;
    margin: 1rem;
 }
 /*lists*/
 .list-non-bullet{
    list-style: none;
 }
 .list-inline{
    display: inline;
    padding: 0rem 0.5rem;
 }
 .navigation {
    background-color:var(--primary-colour);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
 }
.nav-brand{
    font-weight: bold;
   
}
 .navigation .link {
    color: white;
   
 }

 .navigation .nav-pills{
    text-align: right;
 }
 .navigation .link-active{
    font-weight: bold;
 }
 /*header*/
 .hero{
    padding: 2rem;
    padding-top: 5rem;
 }
 .hero-img{
    max-width: 500px;
   display: block;
   margin: auto;
 }

 .hero-heading{
    padding-top: 1rem;
    color: gray;
    text-align: center;
    
 }
 .heading-inverted{
   color: var(--yellow);
 }

 /*sections*/
 .section{
   padding: 2rem;
   margin:3rem auto;
   border-radius: 1rem;
   text-align: center;
  
   
  
 }
 .section h1 {
   text-align: center;
   
 }




.ow{
   background-color: var(--off-white);
}


.footer{
   background-color: var(--primary-colour);
   padding: 2rem 1rem;
   text-align: center;
   color: white;
   border-top-right-radius: 1rem;
}
.footer .footer-header{
   font-weight: bold;
   font-size: large;
}
.footer .link {
   color: white;
}
.footer ul{
   padding-inline-start: 0px;
}
/* blog1 side img */

.row{
   display: flex;
 
   
}
.column{
   
   padding: 0.5rem ;
}
.heading1{
   text-align: center;
   padding-top: 3rem;
   color:var(--brown);
}

.squares{
  margin:  auto;
   max-width: 800px;
   padding: 0.5rem ;
}

.bcontent{
   background-color: antiquewhite;
   padding: 2rem 2rem  4rem;
}

.mainc{
   margin-left: 2rem;
   margin-right: 2rem;
   margin-bottom: 5rem;
   padding: 2rem 3rem 3rem;
   background-color: rgba(158, 95, 14, 0.596);
  border-radius: 1rem;
   color: white;
}

.column.column-details{
 padding-left: 3rem;
 margin-right: 5rem;
}

.rowp{
   display: flex;
   align-items: center;
   justify-content: center;
}
.columnp{
   padding: 0.5rem;
}